.screen {

    //background-image: url("https://picsum.photos/200/300");
  
    animation: fadeIn 7s;
  
    width: 100%;
  
    height: 100%;
  
    background-size: cover;
  
    background-attachment: fixed;
  
    transition-property: background-color;
  
    transition-duration: 300ms;
  
    transition-timing-function: ease;
  
    transition-delay: 0s;
  
    position: absolute;
  
    top: 0;
  
    left: 0;
  
  }
  
  @keyframes fadeIn {
  
    from {
  
      opacity: 0;
  
    }
  
    to {
  
      opacity: 1;
  
    }
  
  }
  
  //img {
  
  //  width: 100%;
  
  //  height: 100%;
  
  //  position: absolute;
  
  //}