<div

  class="screen"

  *ngFor="let image of imageUrls"

  [ngStyle]="{ 'background-image': 'url(' + image + ')' }"

></div>

<!--  Screen saver on {{ count }}-->

 

<!--<div class="screen">-->

<!--  Screen saver is on {{ count }}-->

<!--  <img class="gravatar" [src]="'url(https://picsum.photos/200/300)'" />-->

<!--</div>-->
